@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-background: #282c34;
  --sh-class: #c678dd;
  --sh-identifier: #e5c07b;
  --sh-sign: #56b6c2;
  --sh-string: #98c379;
  --sh-keyword: #e06c75;
  --sh-comment: #5c6370;
  --sh-jsxliterals: #61afef;
  --sh-property: #d19a66;
  --sh-entity: #61afef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-background: #1e1e1e;
    --sh-class: #c678dd;
    --sh-identifier: #e5c07b;
    --sh-sign: #56b6c2;
    --sh-string: #98c379;
    --sh-keyword: #e06c75;
    --sh-comment: #5c6370;
    --sh-jsxliterals: #61afef;
    --sh-property: #d19a66;
    --sh-entity: #61afef;
  }
  html {
    color-scheme: dark;
  }
}

pre {
  background-color: var(--sh-background);
  color: var(--sh-identifier);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 1em;
  overflow: auto;
}

.token.class {
  color: var(--sh-class);
}

.token.identifier {
  color: var(--sh-identifier);
}

.token.sign {
  color: var(--sh-sign);
}

.token.string {
  color: var(--sh-string);
}

.token.keyword {
  color: var(--sh-keyword);
}

.token.comment {
  color: var(--sh-comment);
}

.token.jsx-literals {
  color: var(--sh-jsxliterals);
}

.token.property {
  color: var(--sh-property);
}

.token.entity {
  color: var(--sh-entity);
}


html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply  mx-auto bg-neutral-800 dark:bg-neutral-800 rounded overflow-x-auto py-2 px-3 text-sm;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

span.sh__line {
  display: block;
  line-height: 0;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-2xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

pre::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 4px;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}

.buttons {
  position: relative;
  padding: 1rem 0;
  display: inline-flex;
  justify-content: center;
}

.button {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #333;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

